# Regressão Linear 
***

## Importanto Bibliotecas

In [ ]:
pip install plotly

In [3]:
# Bibliotecas de manipualção e visualização de dados
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

# Classes dos modelo
from sklearn.linear_model import LinearRegression

#Funções de avaliação dos modelos
from sklearn.metrics import  mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

## Análise do dataset

**House**: A tarefa é prever o preço médio da casa na região com base na composição demográfica e no estado do mercado imobiliário na região. Descrição [link](https://sci2s.ugr.es/keel/dataset.php?cod=95#sub1).

In [ ]:
dataset = pd.read_csv("https://raw.githubusercontent.com/cynthiamaia/MonitoriaEmbraer/main/Datasets/house.csv")

In [ ]:
dataset.columns

In [5]:
# vamos olhar para uma pequena parte do dataset
dataset.head()

,Price,P1,P5p1,P6p2,P11p4,P14p9,P15p1,P15p3,P16p2,P18p2,P27p4,H2p2,H8p2,H10p1,H13p1,H18pA,H40p4
0,14999,219,0.506849,0.031963,0.146119,0.101852,0.876712,0.000000,0.746988,0.012048,0.060241,0.231482,0.024096,0.987952,0.351852,0.000000,0.800000
1,106200,2273,0.495381,0.018918,0.067312,0.045336,0.794545,0.016718,0.641053,0.002105,0.076842,0.064961,0.017895,0.997895,0.170276,0.054217,0.258064
2,14999,564,0.457447,0.058511,0.299645,0.238562,0.764184,0.010638,0.567273,0.003636,0.014545,0.140625,0.054545,0.996364,0.381250,0.056180,1.000000
3,29900,620,0.495161,0.003226,0.104839,0.086262,0.909677,0.000000,0.792793,0.009009,0.027027,0.051282,0.004504,0.995495,0.183761,0.162791,0.000000
4,85900,3809,0.491730,0.205303,0.107115,0.085744,0.899449,0.000000,0.766566,0.008283,0.039910,0.017024,0.200301,0.985693,0.198372,0.106557,0.666667

### Separando o conjunto de dados

In [6]:
X = dataset.drop(["Price"], axis = 1)
y = dataset["Price"]

X_train, X_test, y_train, y_test = train_test_split(X,y)

## Treinamento do modelo

A regressão linear é um modelo de regressão. Lembrando da fómula da equação linear: $y = a \times x  + b$

In [7]:
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

y_pred = regression_model.predict(X_test)

print("MSE:", mean_squared_error(y_test, y_pred))
print("R2_score:", r2_score(y_test, y_pred))

MSE: 2075518591.6011374
R2_score: 0.24709970029921347

MSE = $\frac{1}{n} \sum\limits_{i = 1}^{n}(y_i-\hat{y_i})^2$

In [ ]:
fig = px.scatter(x=y_test, y=y_pred, title="Real x Previsto", trendline="ols", labels={"x":"Real","y":"Previsto"})
fig.show()

In [12]:
pred_y_df = pd.DataFrame({"True Value": y_test, "Predicted value": y_pred, "Difference": y_test-y_pred}).round(2)
pred_y_df

       True Value  Predicted value  Difference
15583       41100         54548.57   -13448.57
675        125000         89315.98    35684.02
5749        30900         70121.73   -39221.73
2805        42200         43554.50    -1354.50
19372       15600         37102.70   -21502.70
...           ...              ...         ...
6710        14999         19432.03    -4433.03
10704       45800         58031.64   -12231.64
22228       14999         37309.05   -22310.05
8650        76900         86461.37    -9561.37
17881      378300         27486.06   350813.94

[5696 rows x 3 columns]